<div th:fragment="header" class="ui secondary pointing menu" style="background-color:white" xmlns:th="http://www.w3.org/1999/xhtml">
    
    <a class = "item"><img src="./diving.png" class="image"></a>
    <a class="item" id="dashboard" href="/dashboard">Dashboard</a>
    <a class="item" id="ssispecialty" href="/ssispecialty">My SSI Specialties</a>
    <a class="item" id="images" href="/images">Photos</a>
    <a class="item" id="calendarpage" href="/calendarpage">Calendar</a>
    <a class="item" id="contactdetails" href="/contactdetails">Contact Details</a>

    <div class="right menu">
        <a class="teal ui button" href="./logout" style="margin: 10px">
            Logout
        </a>
    </div>
    
</div>
