<div th:fragment="header" class="ui secondary pointing menu" style="background-color:white" xmlns:th="http://www.w3.org/1999/xhtml">
    
    <a class="item"><img src="./diving.png" class="image"></a>
    <a class="item" id="home" href="/home">Home</a>
    <a class="item" id="ssispecialty" href="/ssispecialty">SSI Specialties</a>
    <a class="item" id="photos" href="/photos">Photos</a>
    <a class="item" id="gasblender" href="/gasblender">Gas Blender</a>
    <a class="item" id="calendar" href="/calendar">Calendar</a>
    <a class="item" id="contactdetails" href="/contactdetails">Contact Details</a>

    <div class="right menu">
        <a class="ui teal button" href="./login" style="margin: 10px">
            Login
        </a>
    </div>
    
</div>
